.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.683);
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  backdrop-filter: blur(10px);
}
.container {
  display: grid;
  justify-content: center;
}

.container > nav {
  display: grid;
  justify-content: center;
  grid-template-columns: 20% minmax(320px, 500px) 15%;
}

.autocompleteContainer {
  position: absolute;
  top: 32px;
  left: -1px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.211);
  border-top: transparent;
  z-index: 1000;
  max-height: 250px;
  overflow-y: auto;
}

.autocompleteOption {
  display: flex;
  transition: background-color 0.2s ease;
  margin-top: 0.5rem;
  padding: 0.2rem;
}

.autocompleteOption:hover {
  background-color: rgba(255, 242, 0, 0.427);
  cursor: default;
}

.logotype > a {
  color: black;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  padding: 0 0.5em 0 0.5em;
}

.containerInput {
  position: relative;
  display: inline-block;
  z-index: 1000;
  border: 1px solid rgba(0, 0, 0, 0.256);
}

.inputQuery {
  display: grid;
  grid-template-columns: 10% 80%;
}

.inputQuery > svg {
  color: rgba(0, 0, 0, 0.387);
  padding: 0.5em 0.5em 0.5em 0.7em;
  align-self: center;
}

.inputQuery > input {
  width: 100%;
  border: none;
}

.inputQuery > input:focus-visible {
  border: none;
  outline: none;
}

.searchButton {
  position: relative;
  z-index: 1000;
  transition: background-color 0.5ms ease;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #fecc03;
}

.searchButton:hover {
  background-color: #e1b400;
  cursor: pointer;
}

.edozeImage {
  cursor: pointer;
}

.main {
  margin-top: 4em;
  margin-bottom: 4em;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, minmax(20%, 1fr));
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  color: rgba(0, 0, 0, 0.816);
  font-size: 14px;
  height: 100%;
  margin-top: 5rem;
  background-color: #fbfafa;
}

.explainBrand {
  display: flex;
  grid-column: 1/3;
}

.explainBrand > p {
  padding: 1rem;
}
.explainBrand > h1 {
  font-size: 50px;
}

.deepFooter {
  display: flex;
  height: 10%;
  border-top: solid rgba(0, 0, 0, 0.101) 1px;
  color: rgb(0, 0, 0);
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: #fbfafa;
}

.footer > .categories,
.contactUs {
  padding: 2rem;
}

.footer > div > span {
  text-decoration: underline;
  font-size: 16px;
}

.footer > .categories > ul > li {
  margin-top: 1vw;
}

.footer > .categories > ul > li > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.footer > .categories > ul > li > a:hover {
  text-decoration: none;
  color: rgba(120, 120, 120, 0.688);
}

.footer > .contactUs > ul > li {
  margin-top: 1.5vw;
}

.network {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45px, 1fr));
}

.network > svg {
  cursor: pointer;
}

.logotype > a::after {
  content: "edoze";
}

@media (max-width: 600px) {
  .container > nav {
    display: grid;
    grid-template-columns: minmax(320px, 500px) 15%;
  }

  .container .logotype {
    display: none;
  }
}
